.detail-info {
    &__item {
        display: flex;
    }

    &__tags {
        display: flex;
    }
    &__title {
        max-width: 400px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: 5px;
    }

    &__text {
        max-width: 400px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        a {
            margin-right: 5px;
            &:focus {
                @extend %focus;
            }

            &:hover {
                color: $link;
            }

            &:active {
                color: $text;
            }
        }
    }
}
