.product-tabs {

    padding-top: 32px;

    @include max-width(768) {
        display: flex;
        justify-content: space-between;
    }

    @include max-width(414) {
        display: block;
    }



    &__top {
        padding-left: 163px;
        margin-bottom: 23px;

        @include max-width(990) {
            display: flex;
            justify-content: center;
            padding-left: 0;
        }

        @include max-width(768) {
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 40%;
            align-self: flex-start;
        }

        @include max-width(414) {
            width: 100%;
        }
    }

    &__link {
        @include rubik(500);
        display: inline-block;
        background-color: $search;
        transition: color 0.5s,
            background-color 0.5s;
        border: none;
        padding: 10px;
        max-width: 240px;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 5px;
        font-size: 18px;
        color: $default;
        margin-right: 4px;

        @include max-width(768) {
            margin-right: 15px;
            margin-bottom: 15px;
        }

        @include max-width(414) {
            min-width: 100%;
        }

        &--active {
            background-color: $btn;
            color: $bg;
        }
    }

    &__item {
        display: none;

        &.product-tabs__item--active {
            display: block;
            @include line-clamp(10);
        }
    }
}