.related {
    padding-top: 42px;
    padding-bottom: 15px;

    .slick-track {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        top: -62px;
        right: 0;
        border: 1px solid $btn;
        padding: 18px 13px;
        background-color: transparent;
        border-radius: 5px;
    }

    .slick-prev {
        right: 65px;
    }

    .slick-arrow.slick-disabled {
        cursor: default;
        border: 1px solid #edf1f4;
    }

    &__title {
        @include dmsans(700);
        font-size: 36px;
        margin-bottom: 7px;
        max-width: 1050px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__item {
        width: 270px;
        margin-left: 15px;
        margin-right: 15px;

        @include max-width(990) {
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    &__card {
        width: 270px;

        @include max-width(1200) {
            margin: 0 auto;
        }
    }

    .product-card {
        box-shadow: 0 0 20px 1px rgba(37, 37, 37, 0.05);

        @include max-width(990) {
            width: 100%;
        }

        @include max-width(768) {
            width: 80%;
        }

        @include max-width(414) {
            width: 100%;
        }
    }

    .product-card__image {
        margin-bottom: 70px;

        @include max-width(990) {
            margin-bottom: 15px;
        }
    }
}