body {
    @extend %rubik-400;
    font-size: 16px;
    color: $default;
    line-height: 1.9;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

