html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    @include rubik(400);
    font-size: 16px;
    color: $default;
    line-height: 1.9;
    background-color: #ffffff;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;

    &--min {
        max-width: 1200px;
    }
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.logo {

    &__image {
        object-fit: contain;
        width: 145px;
        height: 45px;

        @include max-width(414) {
            width: 90px;
            height: 25px;
            margin: 0 auto;
        }
    }
}

.btn {
    background-color: $btn;
    font-size: 15px;
    color: #ffffff;
    transition: color 0.5s, background-color 0.5s;

    &:focus {
        outline: transparent;
        box-shadow: 0 0 0 1px $default;
    }

    &:hover {
        color: $accent;
        background-color: #477b97;
    }

    &:active {
        background-color: $default;
    }
}

.title {
    @include line-clamp(2);
    font-size: 36px;
    color: $title;
    @include dmsans(700);
    text-align: center;

    @include max-width(414) {
        font-size: 30px;
        line-height: 1.3;
    }
}

.product-card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 23px 20px 30px;
    @include dmsans(700);

    &:hover {
        .navigation {
            opacity: 1;
        }
    }

    &__image {
        display: flex;
        align-items: flex-end;
        justify-content: center;

        height: 210px;
        width: 238px;
        overflow: hidden;
        margin-bottom: 50px;
    }

    &__picture {
        margin: 0 auto;
        object-fit: contain;
    }

    &__name {
        @include line-clamp(1);
        color: $default;
        font-size: 16px;
        line-height: 2.2;
        text-align: center;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__price {
        display: block;
        color: $btn;
        max-width: 120px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 120px;
        margin: 0 auto;
        text-align: center;
    }
}

.navigation {

    @include max-width(1200) {
        order: 2;
    }

    @include max-width(768) {
        margin-left: auto;
    }


    &__icon {
        width: 18px;
        height: 16px;
        fill: $default;

        &--burger-menu {
            fill: $bg;
        }
    }

    &__line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $bg;
        width: 1px;
        height: 32px;

        @include max-width(768) {
            display: none;
        }
    }

    &__num {
        position: absolute;

        top: 8px;
        right: 29px;
        width: 15px;
        height: 15px;
        background-color: $bg;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        line-height: 1.6;

        @include max-width(768) {
            background-color: $accent;
            top: 0;
            right: 0;
        }

    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__box {

        &:not(:last-child) {
            margin-right: 20px;

            @include max-width(768) {
                margin-right: 0;
            }

        }

        &--heart-basket {
            position: relative;
            display: flex;
        }
    }

    &__item {

        @include max-width(768) {
            margin-right: 10px;
        }
    }

    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: color 0.5s, background-color 0.5s, fill 0.5s, transform 0.5s, box-shadow 0.5s;

        @include max-width(768) {
            width: 30px;
            height: 30px;
        }

        &:focus {
            outline: transparent;
            box-shadow: 0 0 0 2px $accent;
            border-radius: 50%;
        }

        &:hover {
            background-color: $link;
            transform: scale(1.1);
            box-shadow: 0 0 5px black;

            .navigation__icon {
                fill: $accent;
            }
        }

        &:active {
            color: $link;
        }

        &--search {
            background-color: $search;

            @include max-width(768) {
                background-color: transparent;
            }
        }

        &--heart {
            background: $accent;
            border-radius: 46px 0 0 46px;
            margin-right: 0;
            width: 93px;

            @include max-width(768) {
                width: 35px;
                background-color: transparent;
            }

            &:focus {
                outline: transparent;
                box-shadow: 0 0 0 2px $accent;
                border-radius: 46px 0 0 46px;

                @include max-width(768) {
                    border-radius: 50%;
                }
            }

            &:hover {
                position: relative;
                z-index: 2;


            }
        }

        &--burgermenu {
            background-color: $btn;

            @include max-width(768) {
                background: transparent;

                .navigation__icon {
                    fill: $default;
                }
            }

        }

        &--basket {
            background-color: $accent;
            border-radius: 0 46px 46px 0;
            width: 93px;

            @include max-width(768) {
                background-color: transparent;
                width: 35px;
            }

            &:focus {
                outline: transparent;
                box-shadow: 0 0 0 2px $accent;
                border-radius: 0 46px 46px 0;

                @include max-width(768) {
                    border-radius: 50%;
                }
            }
        }
    }

    &__basket-heart {
        display: flex;
        position: relative;
        margin-right: 20px;
    }
}

.blog-user {
    display: flex;
    @include rubik(400);
    color: #222933;
    font-size: 12px;
    line-height: 2.5;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;

    &--admin {
        position: absolute;
        bottom: 0;
        background-color: $btn;
        max-width: 275px;
        width: 100%;
        padding: 15px 5px;
        justify-content: center;

        @include max-width(414) {
            max-width: 100%;
        }

    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        fill: $default;
        width: 13px;
        height: 13px;
    }

    &__date {
        position: relative;
        margin-right: 33px;
        padding-left: 20px;
        text-transform: uppercase;

        @include max-width(414) {
            margin-right: 10px;
        }
    }

    &__author {
        position: relative;
        padding-left: 20px;
        max-width: 80px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
        transition: color 0.5s;

        &:focus {
            @extend %focus;
        }

        &:hover {
            color: $link;
        }

        &:active {
            color: $btn;
        }
    }
}