$default: #243f4d;
$default-two: #000000;
$accent: #fcd7b6;
$link: #436372;
$btn: #a3bbc8;
$title: #191919;
$filter-btn: #939393;
$bg: #ffffff;
$info: #fef7f0;
$search: #edf1f4;
$text: #585858;
$connection: #7b7b7b;
$orange: #feefe2;
$design:#f8f8f8;
$insights: #262626;
$input: #234969;

// ===========MEDIA ЗАПРОСЫ==================
@mixin max-width($width) {
    @media only screen and (max-width: $width + "px") {
        @content;
    }
}


// ===========ОБРЕЗАЕТ ТЕКСТ==================
@mixin line-clamp($lines) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}


// ===========ШРИФТЫ==================
@mixin dmsans($weight) {
        font-family: "DMSans", sans-serif;
        font-weight: $weight;
}

@mixin rubik($weight) {
    font-family: "Rubik", sans-serif;
    font-weight: $weight;
}

@mixin poppins($weight) {
    font-family: "Poppins", sans-serif;
    font-weight: $weight;
}


// ===========КНОПКИ==================
%hover {
    color: $accent;
}

%active {
    background-color: $default;
}

%focus {
    outline: transparent;
    box-shadow: 0 0 0 1px $default;
}