$default: #243f4d;
$default-two: #000000;
$accent: #fcd7b6;
$link: #436372;
$btn: #a3bbc8;
$title: #191919;
$filter-btn: #939393;
$bg: #ffffff;
$info: #fef7f0;
$search: #edf1f4;
$text: #585858;
$connection: #7b7b7b;
$lamps: #feefe2;
$design:#f8f8f8;
$insights: #262626;


%dmsans-700 {
    font-family: "DMSans", sans-serif;
    font-weight: 700;
}

%dmsans-500 {
    font-family: "DMSans-Medium", sans-serif;
    font-weight: 500;
}

%dmsans-400 {
    font-family: "DMSans-Regular", sans-serif;
    font-weight: 400;
}

%rubik-700 {
    font-family: "Rubik-Bold", sans-serif;
    font-weight: 700;
}

%rubik-500 {
    font-family: "Rubik-Medium", sans-serif;
    font-weight: 500;
}

%rubik-400 {
    font-family: "Rubik-Regular", sans-serif;
    font-weight: 400;
}

%poppins-700 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

%hover {
    color: $accent;
}

%active {
    background-color: $default;
}

%focus {
    outline: transparent;
    box-shadow: 0 0 0 1px $default;
}