@import 'libs';
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'components/components';
@import 'index-page';
@import 'login-page/modal';
@import 'about-page';
@import 'products-page';


.main {
    padding-top: 150px;

    @include max-width(768) {
        padding-top: 100px;
    }

    @include max-width(414) {
        padding-top: 80px;
    }
}

.blog {
    padding: 110px 0 148px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        margin-right: 30px;
    }

    &__content {
        margin-bottom: 75px;
    }

    &__item {
        margin-bottom: 28px;
    }

    &__aside {
        max-width: 270px;
        width: 100%;
    }

    &__search {
        margin-bottom: 55px;
    }

    .pagination {
        justify-content: flex-start;
    }

    &__category {
        margin-bottom: 30px;
    }
}

.blog-search {
    display: flex;

    &__input {
        border: 1px solid $search;
        border-radius: 5px;
        height: 43px;
        padding: 5px 10px;
        outline: transparent;
        width: 225px;
        margin-right: -3px;
        transition: border 0.5s, border-radius 0.5s, background-color 0.5s, opacity 0.5s;

        &:focus {
            border: 1px solid $default;
            border-radius: 5px;
        }

        &:hover {
            opacity: 0.8;
        }

        &:active {
            background-color: $accent;
        }

        &[type="text"] {
            color: $default;

            &:focus {
                background-color: $orange;
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 43px;
        border: none;
        background-color: $search;
        border-radius: 5px;
        outline: transparent;
        transition: border 0.5s,
            border-radius 0.5s,
            background-color 0.5s,
            opacity 0.5s;

        &:focus {
            border: 1px solid $default;
            border-radius: 5px;
        }

        &:hover {
            opacity: 0.8;
        }

        &:active {
            background-color: $btn;
        }

    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: #094074;
    }
}



.article-blog {
    &__image {
        position: relative;
    }

    &__picture {
        width: 100%;
        max-width: 830px;
        height: 500px;
        object-fit: cover;
    }

    &__content {
        padding: 30px 30px 20px 0;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__reference {
        @include rubik(400);
        @include line-clamp(2);
        color: #333333;
        font-size: 36px;
        transition: color 0.5s;

        &:focus {
            @extend %focus;
        }

        &:hover {
            color: $link;
        }

        &:active {
            color: $btn;
        }
    }

    &__text {
        color: #243f4d;
        margin-bottom: 30px;
        max-width: 830px;
        max-height: 85px;
        overflow: hidden;

        p {
            @include line-clamp(3);
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        padding: 16px 83px 16px 20px;
        border: 1px solid $btn;
        color: $btn;
        font-size: 15px;
        @include nunito(700);
        transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;

        &:focus {
            outline: transparent;
            box-shadow: 0 0 0 1px $default;
        }

        &:hover {
            color: $accent;
            background-color: #477b97;

            .article-blog__icon {
                fill: $accent;
            }
        }

        &:active {
            background-color: $default;
        }

    }

    &__icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 22px;
        height: 9px;
        fill: $btn;
        transition: fill 0.5s;
    }

    .blog-user {
        position: absolute;
        bottom: 0;
        background-color: $btn;
        max-width: 275px;
        width: 100%;
        padding: 15px 5px;
        justify-content: center;

        &__date {
            color: $bg;

        }

        &__author {
            color: $bg;

            &:focus {
                @extend %focus;
            }

            &:hover {
                color: $link;
            }

            &:active {
                color: $text;
            }
        }

        &__icon {
            fill: $bg;
        }
    }
}

.posts {
    &__title {
        @include line-clamp(1);
        display: inline-block;
        position: relative;
        @include dmsans(700);
        font-size: 18px;
        text-transform: uppercase;
        padding-right: 50px;
        margin-bottom: 10px;

        &::after {
            content: '';
            position: absolute;
            border: 2px solid $btn;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            height: 2px;
            width: 40px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }
}

.article-post {
    display: flex;

    &__link {
        display: block;
        margin-right: 20px;
        min-width: 70px;
    }

    &__picture {
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    &__title {
        padding-top: 3px;
    }

    &__link-title {
        display: inline-block;
        font-size: 14px;
        line-height: 1.4;
        color: #333333;
        @include rubik(400);
        @include line-clamp(2);

        &:focus {
            @extend %focus;
        }

        &:hover {
            color: $link;
        }

        &:active {
            color: $text;
        }
    }

    &__date {
        position: relative;
        padding-left: 20px;
        font-size: 12px;
        color: #9a9a9a;
    }

    &__icon {
        position: absolute;
        top: -2px;
        left: 0;
        fill: #9a9a9a;
        width: 15px;
        height: 15px;
    }

}