.header {
    position: fixed;
    z-index: 50;
    left: 0;
    right: 0;

    &.header--scroll {
        .header__inner {
            padding: 10px 0;
            transition: padding 1s;

            @include max-width(768) {
                padding: 0;
            }
        }
    }

    &--scroll {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 50;
        box-shadow: 0 0 20px $default;
    }

    .menu {
        width: 100%;

        @include max-width(1200) {
            order: 3;
        }

        @include max-width(768) {
            margin-right: 0;
        }

        &__list {

            &.menu__list--active {
                @include max-width(1200) {
                    transform: translateY(0);
                    box-shadow: 0 0 20px $default;
                }
            }

            @include max-width(1200) {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                z-index: 10;
                top: 0;
                text-align: center;
                padding: 90px 0 15px;
                background-color: $orange;
                transform: translatey(-200%);
                transition: transform 0.5s;

            }
        }

        &__burger {
            order: 3;

            @include max-width(1200) {
                display: block;
            }

            &.menu__burger--active {
                svg {
                    @include max-width(1200) {
                        fill: $btn;
                    }
                }
            }

            svg {
                fill: $default;
                width: 40px;
                height: 35px;
            }
        }

        &__item {
            @include max-width(1200) {
                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }

        &__link {
            @include max-width(1200) {
                display: block;
                padding: 15px 0;

            }
        }
    }

    &__top {
        background-color: $bg;

        @include max-width(768) {
            align-items: center;
            padding: 20px 0;
        }
    }

    &__inner {

        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        transition: padding 1s;

        @include max-width(768) {
            align-items: center;
            padding: 0 0;
        }
    }

    &__logo {
        position: relative;
        z-index: 15;
        margin-right: 154px;

        @include max-width(1200) {
            order: 1;
            margin-right: 0;
        }
    }
}