.insights {
    padding-top: 45px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 32px;

        @include max-width(768) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__title {
        @include max-width(768) {
            margin-right: 60px;
        }

        @include max-width(414) {
            margin-right: 0;
        }
    }

    &__link {
        position: relative;
        @include dmsans(700);
        color: $insights;
        padding-right: 23px;
        transition: color 0.5s, background-color 0.5s, outline 0.5s, box-shadow 0.5s;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 8px;
            height: 14px;
            background-image: url('../images/content/icons/chevron-right.svg');
            transition: background-image 0.5s;
        }

        &:focus {
            @extend %focus;
        }

        &:hover {
            @extend %hover;

            &::after {
                background-image: url('../images/content/icons/chevron-right-hover.svg');
            }
        }

        &:active {
            @extend %active;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include max-width(1200) {
            flex-wrap: wrap;
        }
    }

    &__item {
        display: flex;

        @include max-width(1200) {
            width: 49%;
            margin-bottom: 20px;
        }

        @include max-width(768) {
            width: 100%;
        }
    }

    &__partners {
        margin-top: -170px;
    }
}

.insight {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    overflow: hidden;
    line-height: 1.4;
    background-color: $bg;
    padding-bottom: 20px;

    &__image {
        position: relative;
    }

    &__picture {
        object-fit: cover;
        height: 262px;

        @include max-width(1200) {
            height: 395px;
        }

        @include max-width(414) {
            height: 240px;
        }
    }

    &__subtitle {
        margin-left: 26px;
        margin-top: -11px;
    }

    &__link {
        color: $bg;
        background-color: $btn;
        font-size: 14px;
        transition: color 0.5s, background-color 0.5s, outline 0.5s, box-shadow 0.5s;

        @include poppins(700);
        padding: 6px 30px;
        border-radius: 15px;

        &:focus {
            @extend %focus;
        }

        &:hover {
            @extend %hover;
        }

        &:active {
            @extend %active;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        padding: 35px 30px 20px;

        p {
            flex: 1 1 auto;
            @include dmsans(500);
            font-size: 18px;
            color: $insights;
            line-height: 1.2;
            @include line-clamp(2);
        }
    }

    &__text-link {
        @include line-clamp(3);
        transition: color 0.5s, background-color 0.5s, outline 0.5s, box-shadow 0.5s;

        &:focus {
            @extend %focus;
        }

        &:hover {
            @extend %hover;
        }

        &:active {
            @extend %active;
        }
    }

    &__bottom {
        @include rubik(400);
        color: #222933;
        font-size: 12px;
        line-height: 2.5;
        padding-top: 10px;
        width: 315px;
        border-top: 1px solid #e0e0e0;

        @include max-width(768) {
            padding-left: 50px;
        }
    }

    &__date {
        position: relative;
        margin-right: 33px;
        padding-left: 20px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-image: url('../images/content/icons/insights-time.svg');
            width: 10px;
            height: 12px;
        }

        @include max-width(414) {
            margin-right: 10px;
        }
    }

    &__author {
        position: relative;
        padding-left: 20px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-image: url('../images/content/icons/insights-men.svg');
            width: 10px;
            height: 12px;
        }
    }

    @include max-width(1200) {
        max-width: 100%;
    }

    @include max-width(768) {
        width: 80%;
        margin: 0 auto;
    }
}