.partners {
    background-color: $orange;
    padding-bottom: 48px;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 130px;
    }

    &__item {
        margin-left: 40px;
        margin-right: 40px;

        @include max-width(1200) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    &__picture {
        object-fit: contain;
        width: 167px;
        height: 80px;

        @include max-width(768) {
            height: 60px;
            margin: 0 auto;
        }

        @include max-width(414) {
            height: 60px;
        }
    }
}

.partners-local {
    .partners {
        padding-top: 50px;
    }
}