.partners {
    background-color: $lamps;
    padding-top: 247px;
    padding-bottom: 60px;

    &--login {
        padding-top: 50px;
        padding-bottom: 72px;
    }
    &__item {
        margin-left: 40px;
        margin-right: 40px;
    }
    
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 130px;
    }

    &__picture {
        object-fit: contain;
        width: 167px;
        height: 80px;
    }
}