<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__inner">
            <div class="breadcrumbs__title">
                @@breadcrumbs-name
            </div>

            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">Home</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">@@breadcrumbs-name</a>
                </li>
            </ul>

        </div>
    </div>
</div>