<section class="insights">
    <div class="container container--min">
        <div class="insights__top">
            <h2 class="title insights__title">
                Our Insights & Articles
            </h2>
            <a class="insights__link" href="#">
                View All
            </a>
        </div>

        <ul class="insights__inner">
            <li class="insights__item">
                <article class="insight-card">
                    <div class="insight-card__image">
                        <img class="insight-card__picture" src="images/content/products/insights1.jpg"
                            alt="Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam">
                        <div class="insight-card__subtitle">
                            <a href="#" class="insight-card__link">New</a>
                        </div>
                    </div>
                    <div class="insight-card__content">
                        <h3 class="insight-card__title">
                            <a class="insight-card__title-link" href="#">
                                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam
                            </a>
                        </h3>
                        <div class="insight-card__bottom">
                            <time class="insight-card__date">
                                28 January, 2020
                            </time>
                            <a class="insight-card__author" href="#">
                                By admin
                            </a>
    
                        </div>
                    </div>
                </article>
            </li>

            <li class="insights__item">
                <article class="insight-card">
                    <div class="insight-card__image">
                        <img class="insight-card__picture" src="images/content/products/insights2.jpg"
                            alt="Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore">
                        <div class="insight-card__subtitle">
                            <a href="#" class="insight-card__link">New</a>
                        </div>
                    </div>
                    <div class="insight-card__content">
                    <h3 class="insight-card__title">
                        <a class="insight-card__title-link" href="#">
                            Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore
                        </a>
                    </h3>
                    <div class="insight-card__bottom">
                        <time class="insight-card__date">
                            28 January, 2020
                        </time>
                        <a class="insight-card__author" href="#">
                            By admin
                        </a>
                    </div>
                    </div>
                </article>
            </li>

            <li class="insights__item">
                <article class="insight-card">
                    <div class="insight-card__image">
                        <img class="insight-card__picture" src="images/content/products/insights3.jpg"
                            alt="Rncididunt ut labore et dolore magna aliqua. Ut enim">
                        <div class="insight-card__subtitle">
                            <a href="#" class="insight-card__link">New</a>
                        </div>
                    </div>
                    <div class="insight-card__content">
                    <h3 class="insight-card__title">
                        <a class="insight-card__title-link" href="#">
                            Rncididunt ut labore et dolore magna aliqua. Ut enim
                        </a>
                    </h3>
                    <div class="insight-card__bottom">
                        <time class="insight-card__date">
                            28 January, 2020
                        </time>
                        <a class="insight-card__author" href="#">
                            By admin 
                        </a>

                    </div>
                    </div>  
                </article>
            </li>
        </ul>
    </div>

    <div class="partners insights__partners">
        <div class="container container--min">
            <div class="partners__inner">
                <ul class="partners__list">
                    <li class="partners__item">
                        <a class="partners__link" href="#">
                            <img class="partners__picture" src="images/content/partners/1.png" alt="partners">
                        </a>
                    </li>
                    <li class="partners__item">
                        <a class="partners__link" href="#">
                            <img class="partners__picture" src="images/content/partners/2.png" alt="partners">
                        </a>
                    </li>
                    <li class="partners__item">
                        <a class="partners__link" href="#">
                            <img class="partners__picture" src="images/content/partners/3.png" alt="partners">
                        </a>
                    </li>
                    <li class="partners__item">
                        <a class="partners__link" href="#">
                            <img class="partners__picture" src="images/content/partners/4.png" alt="partners">
                        </a>
                    </li>
                    <li class="partners__item">
                        <a class="partners__link" href="#">
                            <img class="partners__picture" src="images/content/partners/5.png" alt="partners">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>