<div class="partners">
    <div class="container container--min">
        <div class="partners__inner">
            <ul class="partners__list">
                <li class="partners__item">
                    <a class="partners__link" href="#">
                        <img class="partners__picture" src="images/content/partners/1.png" alt="partners">
                    </a>
                </li>
                <li class="partners__item">
                    <a class="partners__link" href="#">
                        <img class="partners__picture" src="images/content/partners/2.png" alt="partners">
                    </a>
                </li>
                <li class="partners__item">
                    <a class="partners__link" href="#">
                        <img class="partners__picture" src="images/content/partners/3.png" alt="partners">
                    </a>
                </li>
                <li class="partners__item">
                    <a class="partners__link" href="#">
                        <img class="partners__picture" src="images/content/partners/4.png" alt="partners">
                    </a>
                </li>
                <li class="partners__item">
                    <a class="partners__link" href="#">
                        <img class="partners__picture" src="images/content/partners/5.png" alt="partners">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>