.team {
    padding-top: 60px;
    padding-bottom: 60px;

    @include max-width(990) {
        padding-bottom: 0;
    }

    &__inner {
        display: flex;

        @include max-width(990) {
            flex-wrap: wrap;
        }
    }

    &__content {
        max-width: 305px;
        width: 100%;
        margin-right: 95px;

        @include max-width(1200) {
            margin-right: 20px;
        }

        @include max-width(990) {
            max-width: 100%;
            margin-bottom: 40px;
        }
    }

    .title {
        color: $default;
        text-align: left;
        margin-bottom: 10px;
    }

    &__link {
        position: relative;
        padding: 16px 60px 16px 27px;
        max-width: 202px;
        border-radius: 6px;

        @include max-width(1200) {
            padding: 13px 45px 13px 15px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 22px;
            right: 18px;
            background-image: url(../images/content/icons/arrow-right.svg);
            background-position: center;
            background-repeat: no-repeat;
            width: 22px;
            height: 9px;

            @include max-width(1200) {
                top: 18px;
            }
        }

        &:hover {
            &::after {
                background-image: url(../images/content/icons/arrow-right_hover.svg);
            }
        }
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px 30px;

        @include max-width(990) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__text {
        @include line-clamp(10);
        color: #565872;
        margin-bottom: 45px;
    }
}

.team-card {
    width: 370px;
    height: 386px;

    @include max-width(990) {
        width: 47%;
    }

    @include max-width(768) {
        width: 100%;
    }


    &__picture {
        height: 320px;
        width: 370px;
        object-fit: cover;

        @include max-width(990) {
            width: 100%;
        }
    }

    &__title {
        @include max-width(1200) {
            font-size: 30px;
        }
    }

    &__desc {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 335px;
        width: 100%;
        background-color: $bg;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        padding: 20px;
        margin-top: -35px;

        @include max-width(990) {
            width: 100%;
        }

         @include max-width(414) {
             max-width: 100%;
         }
    }

    &__description {
        padding-top: 6px;
    }

    &__name {
        @include line-clamp(1);
        @include dmsans(700);
        font-size: 22px;
        line-height: 1.2;
        color: $link;
    }

    &__text {
        @include line-clamp(1);
    }

    &__social {
        display: flex;
    }

    &__social-link {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        background-color: #f6f6f6;
        border-radius: 50%;
        transition: background-color 0.5s;

        &:focus {
            @extend %focus;
        }

        &:hover {
            background-color: $accent;
        }

        &:active {
            background-color: $btn;
        }

        &:not(:last-child) {
            margin-right: 7px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
        }

        &--instagramm {
            &::before {
                background-image: url('..//images/content/icons/instagramm.svg');
            }
        }

        &--google {
            &::before {
                background-image: url('..//images/content/icons/google.svg');
            }
        }
    }
}