.team {
    padding-top: 60px;
    padding-bottom: 60px;

    &__inner {
        display: flex;

        @include max-width(990) {
            flex-wrap: wrap;
        }
    }

    &__content {
        max-width: 305px;
        width: 100%;
        margin-right: 95px;

        @include max-width(1200) {
            margin-right: 20px;
        }

        @include max-width(990) {
            max-width: 100%;
            margin-bottom: 40px;
        }
    }

    .title {
        color: $default;
        text-align: left;
        margin-bottom: 10px;
    }

    &__link {
        position: relative;
        padding: 16px 60px 16px 27px;
        max-width: 202px;
        border-radius: 6px;

        @include max-width(1200) {
            padding: 13px 45px 13px 15px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 22px;
            right: 18px;
            background-image: url(../images/content/icons/arrow-right.svg);
            background-position: center;
            background-repeat: no-repeat;
            width: 22px;
            height: 9px;
        }

        &:hover {
            &::after {
                background-image: url(../images/content/icons/arrow-right_hover.svg);
            }
        }
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px 30px;

        @include max-width(990) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__text {
        @include line-clamp(10);
        color: #565872;
        margin-bottom: 45px;
    }
}
