.filter-recent {
    &__item {
        margin-bottom: 22px;
    }

    &__link {
        display: flex;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(242, 242, 242);
        border-width: 2px;
        border-color: rgb(242, 242, 242);
        border-style: solid;
        width: 70px;
        height: 70px;
        margin-right: 20px;
        overflow: hidden;
    }

    &__picture {
        object-fit: contain;
    }

    &__title {
        @include rubik(400);
        font-size: 14px;
        color: #333333;
        margin-bottom: 6px;
    }
}