
.design {
    padding: 43px 0 55px;

    &__filter {
        margin-bottom: 75px;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 38px 30px;
        margin-bottom: 116px
    }

    &__card {
        position: relative;

        width: 370px;
        min-height: 245px;
        background-color: $design;
        overflow: hidden;
    }

    &__content {
        padding: 35px;
        @extend %dmsans-700;
        max-width: 241px;
    }

    &__title {
        font-size: 20px;
        color: $title;
        line-height: 1.2;
        margin-bottom: 9px;
    }

    &__link {
        color: $btn;
        transition: color 0.5s, background-color 0.5s, outline 0.5s, box-shadow 0.5s;
        
        &:hover {
            @extend %hover;
        }

        &:active {
            @extend %active;
        }

        &:focus {
            @extend %focus;
        }
    }

    &__image {
        position: absolute;
        right: -77px;
        top: 60px;


    }

    &__picture {
        height: 170px;
        width: 341px;
        margin: 0 auto;
        object-fit: contain;
    }
}
