.info {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        width: 33.4%;
        padding: 35px 50px 35px 224px;
        background-color: $info;

        &:not(:last-child) {
            border-right: 1px solid #e8e4df;
        }

        &::before {
            content: '';
            position: absolute;
            top: 45px;
            left: 147px;

            width: 55px;
            height: 55px;
            background-repeat: no-repeat;

            @media (max-width: 1200px) {
                top: 28px;
                left: 20px;
            }
        }

        &--support {

            &::before {
                background-image: url('../images/content/support.svg');
            }
        }

        &--delivery {

            &::before {
                background-image: url('../images/content/delivery.svg');
                top: 56px;
                left: 138px;

                @media (max-width: 1200px) {
                    top: 28px;
                    left: 20px;
                }
            }
        }

        &--payment {
            &::before {
                background-image: url('../images/content/payment.svg');
            }
        }

        @media (max-width: 1200px) {
            padding: 15px 30px 15px 80px;
        }

        @media (max-width: 768px) {
            width: 100%;

            .info & {
                border-right: none;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &__title {
        @include dmsans(700);
        color: #414141;
        font-size: 18px;
        line-height: 2.2;

        @media (max-width: 990px) {
            font-size: 16px;
        }
    }

    &__text {
        max-width: 222px;
        @include dmsans(400);
        color: $text;

        @media (max-width: 990px) {
            font-size: 14px;
            line-height: 1.3;
        }
    }

}