.popular {
    padding: 53px 0 50px;

    @include max-width(768) {
        padding: 30px 0 30px;
    }

    &__title {
        text-align: center;
        margin-bottom: 8px;

        @include max-width(414) {
            font-size: 30px;
            line-height: 1.3;
        }
    }

    &__gallery {
        margin-bottom: 181px;

        @include max-width(990) {
            margin-bottom: 90px;
        }
    }

    &__filter {
        margin-bottom: 75px;

        @include max-width(768) {
            margin-bottom: 25px;
        }

        @include max-width(414) {
            margin-bottom: 20px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 30px;

        @include max-width(1200) {
            grid-template-columns: repeat(3, 1fr);
            max-width: 900px;
            margin: 0 auto;
        }

        @include max-width(990) {
            grid-template-columns: repeat(2, 1fr);
            max-width: 800px;
        }

        @include max-width(768) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

    }

    &__item {

        @include max-width(414) {
            width: 100%;
        }
    }

    &__card {
        width: 270px;

        @include max-width(990) {
            width: 100%;
        }
    }

    .navigation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        opacity: 0;
        transition: opacity 0.5s;

        &__box {
            &:not(:last-child) {
                margin-right: 16px;
            }
        }

        &__btn {
            box-shadow: 0 0 5px $default;
            background-color: $bg;
            border-radius: 50%;
            width: 46px;
            height: 46px;
            transition: color 0.5s, background-color 0.5s, fill 0.5s, transform 0.5s, box-shadow 0.5s;

            &:focus {
                outline: transparent;
                box-shadow: 0 0 0 2px $accent;
                border-radius: 50%;
            }

            &:hover {
                background-color: $btn;

                .navigation__icon {
                    fill: $bg;
                }
            }

            &:active {
                background-color: $link;
            }   
        }
        &__icon {
            fill: $btn;
        }
    }
}

.filter {
    display: flex;
    justify-content: center;

    @include max-width(414) {
        flex-wrap: wrap;
    }

    .mixitup-control-active {
        color: #1a1a1a;
    }

    &__element {
        &:not(:last-child) {
            margin-right: 19px;

            @include max-width(414) {
                margin-right: 10px;
            }
        }
    }

    &__btn {
        max-width: 145px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-color: transparent;
        border: none;
        color: $filter-btn;
        @include dmsans(700);
        transition: color 0.5s, background-color 0.5s;

        &:focus {
            outline: transparent;
            box-shadow: 0 0 0 1px $default;
        }

        &:hover {
            color: $accent;
        }

        &:active {
            background-color: $default;
        }

        @include max-width(414) {
            font-size: 14px;
        }
    }
}