.trendy {
    margin-top: 150px;

    @include max-width(768) {
        margin-top: 100px;
    }

    .slick-dots {
        position: absolute;
        bottom: 45px;
        left: 50%;

        display: flex;
        transform: translateX(-50%);

        @include max-width(768) {
            bottom: 10px;
        }

        li {
            &:not(:last-child) {
                margin-right: 12px;
            }

            &.slick-active {
                button {
                    background-color: $bg;
                    opacity: 1;
                }
            }
        }

        button {
            background-color: rgba(#ffffff, 0.5);
            border: none;
            border-radius: 50%;
            padding: 0;
            width: 30px;
            height: 30px;
            line-height: 1;
            color: $default;
            font-size: 10px;
            opacity: 0.5;

            @include max-width(768) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: $accent;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 192px;
            z-index: 0;
            background-image: url('../images/content/decor/ellips-slider.png');
            width: 610px;
            height: 634px;
            transform: translateY(-50%);

            @include max-width(1200) {
                display: none;
            }

        }
    }

    &__inner {
        display: flex;
        align-items: center;

        @include max-width(414) {
            flex-direction: column;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 820px;
        max-width: 430px;
        padding-bottom: 74px;
        margin-right: 100px;

        @include max-width(1200) {
            min-height: 500px;
            padding-bottom: 30px;
        }

        @include max-width(768) {
            padding-top: 10px;
            min-height: 360px;
            margin-right: 5px;
        }

        @include max-width(414) {
            min-height: 260px;
            padding-bottom: 0;
        }
    }

    &__title {
        @include line-clamp(3);
        text-transform: uppercase;
        font-size: 72px;
        color: rgb(36, 63, 77);
        line-height: 1;
        margin-bottom: 28px;
        @include rubik(700);

        @include max-width(1200) {
            font-size: 50px;
        }

        @include max-width(768) {
            font-size: 30px;
        }
    }

    &__text {
        @include line-clamp(5);
        font-size: 18px;
        color: $link;
        line-height: 1.7;
        margin-bottom: 35px;
        max-width: 364px;

        @include max-width(1200) {
            font-size: 16px;
        }

        @include max-width(768) {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }

    &__link {
        position: relative;
        padding: 18px 60px 13px 27px;
        max-width: 202px;

        @include max-width(768) {
            padding: 8px 54px 8px 10px;
            max-width: 160px;
            margin-bottom: 7px;
        }


        &::after {
            content: '';
            background-image: url('../images/content/icons/arrow-right.svg');
            background-position: center;
            background-repeat: no-repeat;
            width: 22px;
            height: 9px;
            position: absolute;
            top: 27px;
            right: 18px;

            @include max-width(768) {
                top: 19px;
            }
        }

        &:hover {
            &::after {
                background-image: url('../images/content/icons/arrow-right_hover.svg')
            }
        }
    }

    &__image {
        position: relative;
    }

    &__picture {
        width: 645px;
        height: 264px;
        object-fit: contain;

        @include max-width(1200) {
            width: 500px;
            height: 200px;
        }

        @include max-width(768) {
            width: 300px;
            height: 200px;
        }
    }
}