.video {
    position: relative;
    height: 500px;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include max-width(768) {
        min-height: 400px;
    }

    @include max-width(768) {
        min-height: 300px;
    }

    &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: background-color 0.5s;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &::before {
            z-index: 10;
            transform: translate(-50%, -50%);
            background-image: url('../images/content/icons/video-play.svg');
            width: 98px;
            height: 98px;
        }

        &::after {
            z-index: 0;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            width: 128px;
            height: 128px;
            background-color: rgba(#a3bbc8, 0.5);
        }

        &:hover {
            background-color: rgba(#000000, 0.5);
        }
    }
}